.titulo-h1 {
    text-align: center;
    font-size: 3em;
    color: #ff0000;
}
.imagen-fondo{
    display: block;
    margin: auto;
    width: 65%;
}
.fodo-elemento{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.elemento {
    position: absolute;
    transition: .5s;
}